#main{
	font-size: 30px;
	font-weight: 700;
	color: rgb(50,50,50);
}

div.header {
	position: relative;
	top: 0px;
	z-index: 1;

	background: white;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.14),0 4px 2px -2px rgba(0,0,0,0.12);

	width: 100%;
	height: 45px;
}

div.header h1{
	font-size: 22px;
    font-weight: 500;
    text-align: left;
    margin: 0px 0px 0px 0; /*top right bottom left */
}

div.project{
	position: relative;
	width: 100%;
	height: 250px;
	padding: 0px 24px;
}

div.project h1{
	font-size: 22px;
	font-weight: 600;
	text-align: center;
	margin: 0 0 16px;
}

div.project p{
	font-weight: 300;
    line-height: 150%;
}

div.project ul{
	position: relative;
	bottom:75%;
	margin-right:50%;
	list-style: none;
    text-align: center;
}

div.project button{
	display: inline-block;
    padding: 8px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border: 1px solid rgb(115,140,220);
    border-radius: 3px;
    font-size: 14px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

div.craft{
	background-image: url("./images/discord_logo.png");
	background-repeat: no-repeat;
	background-position: 200px -55px;
	background-size: 200px 200px;

	position: relative;

    max-width: 300px;
    margin: 0px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.14),0 2px 1px -1px rgba(0,0,0,0.12);
    border-radius: 2px;
    padding: 16px 24px;

}

div.craft p{
	font-weight: 300;
    line-height: 150%;
}

div.craft ul{
    list-style: none;
    margin: 16px 0 0;
    padding: 0;
    text-align: center;
}

div.craft li a{
    display: inline-block;
    padding: 8px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    background: rgb(114,137,218);
    color: white;
    border: 1px solid rgb(115,140,220);
    border-radius: 3px;
    font-size: 14px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

div.middle{
	top: 0px;

	position: relative;

	width: 100%;
	height: 500px;
	background-color: white;
	box-shadow: 0 -2px 6px 0px rgba(0,0,0,0.2), 0 -2px 2px 0 rgba(0,0,0,0.14), 0 -4px 2px -1px rgba(0,0,0,0.12);
}



